
body, html {
    height: 100%;
    background-color: black;
    max-width: 1480px;
    margin: auto;
}

.hero-image {
    background-image: url("/Media/Slidebanner/banner_assasins_creed_2.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    max-width: 1280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hero-text {
    font-size: 10px;
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: 5px;
}

.game-hero-image {
    background-image: url("/Media/Grafik/cross.png");
    height: 50%;
    background-repeat: repeat;
    background-color: gray;
    min-height: 200px;
    max-height: 200px;
    max-width: 1280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -60px;
}

.mybutton {
    background-color: teal;
    color: white;
    height: 25px; 
    width: 60px; 
    margin-top: -10px; 
    margin-left: -10px; 
    font-size: 10px; 
    border-radius: 25px; 
    border-color: white; 
    float: left;
}

.mybutton:hover {
    cursor: pointer;
}

.navbar {
    background-color: black;
    color:white;
    opacity: 1;
    height: 40px;
    padding-top: -10px;
}

.nav-item {
    color: white;
    font-weight: bold;
    opacity: 1;
}

.active {
    background-color: #5dbcd2;
    color: white;
}

.nav {
    margin-top: -8px;
}

a {
    color: gray;
}

.nav-item:hover a {
    background-color: #5dbcd2;
    color:white;
    opacity: 1;

}

.sticky-top {
    opacity: 0.75;
}

.pushed {
    padding-top: 150px;
    margin-left: -10px;
    opacity: 1;
}

.colfor {
    background-color: black;
    color: white; 
    margin-top: -25px;
    padding-left: 20px;
    padding-right: 20px;
}

.seemore {
    width: 15px;
    height: 15px;
    margin-left: -10px;
}

.rowstyle {
    min-height: 300px;
    opacity: 0.75;
}

.row {
    padding-top: 10px;
    padding-right: 0px!important;
}

.forpic {
    padding-right: 0px!important;
    padding-left: 20px!important;
}

.mainrow {
    padding-left: 25px;
}

.bottomcenter {
    position: absolute;
    bottom: 8px;
    transform: translate(-50%, -50%);
}

.aktuellespilbillede {
    max-height: 120px; 
    margin-left: -50px;
}

.aktuellespilbillede:hover {
    cursor: pointer;
}

.nyeanbilleder {
    max-height: 30px; 
    margin-left: -20px;
}

.nyeanbilleder:hover {
    cursor: pointer;
}

.nyeanover {
    text-align: left; 
    margin-left: -30px; 
    font-size: 12px;
}

.nyeanover:hover {
    cursor: pointer;
}

.nyeancreated {
    font-size: 8px; 
    text-align: left; 
    margin-left: -30px;
    margin-top: -8px;
}

.aktuellespiltekst {
    font-size: 12px; 
    text-align: left; 
    margin-left: -50px; 
    margin-top: -8px;
}

.aktuellespiludgiver {
    font-size: 12px; 
    text-align: left; 
    margin-left: -50px; 
    margin-top:-7px;
}

.aktuellespilh5 {
    text-align: left; 
    margin-left: -50px;
}

.aktuellespilh5:hover {
    cursor: pointer;
}

.socialmedia {
    max-width: 25px!important; 
    max-height: 25px!important;
}

.socialmedia:hover {
    cursor: pointer;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .containerforcontact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }