
body, html {
    height: 100%;
    background-color: black;
    max-width: 1480px;
    margin: auto;
}

.hero-image {
    background-image: url("/Media/Slidebanner/banner_assasins_creed_2.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    max-width: 1280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hero-text {
    font-size: 10px;
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: 5px;
}

.mybutton {
    background-color: teal;
    color: white;
}

.mybutton:hover {
    cursor: pointer;
}

.navbar {
    background-color: black;
    color:white;
    opacity: 1;
    height: 40px;
    padding-top: -10px;
}

.nav-item {
    color: white;
    font-weight: bold;
    opacity: 1;
}

.active {
    background-color: #5dbcd2;
    color: white;
}

.nav {
    margin-top: -8px;
}

a {
    color: gray;
}

.nav-item:hover a {
    background-color: #5dbcd2;
    color:white;
    opacity: 1;

}

.sticky-top {
    opacity: 0.75;
}

.pushed {
    padding-top: 150px;
    margin-left: -10px;
    opacity: 1;
}

.colfor {
    background-color: black;
    color: white; 
    margin-top: -25px;
    padding-left: 20px;
    padding-right: 20px;
}

.seemore {
    width: 15px;
    height: 15px;
    margin-left: -10px;
}

.rowstyle {
    min-height: 300px;
    opacity: 0.75;
}

.row {
    padding-top: 10px;
    padding-right: 0px!important;
}

.forpic {
    padding-right: 0px!important;
    padding-left: 20px!important;
}

.mainrow {
    padding-left: 25px;
}

.bottomcenter {
    position: absolute;
    bottom: 8px;
    transform: translate(-50%, -50%);
}